.column {
  float: left;
  height: 100vh;
}

.left {
  width: 20%;
  height: 100vh;
}

.right {
  /* background-color: #FF8533; */
  width: 80%;
  height: 100vh;
}

.container {
  width: 97%;
  height: 95vh;
  border: 1px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.01),
    0px 50px 100px rgba(0, 75, 117, 0.3);
  backdrop-filter: blur(20px);
  border-radius: 37px;
  margin: 20px auto 20px auto;
}

